/*general*/

.logo{
    grid-area: log;
}
.top{
    grid-area: nav;
    display: flex;
    justify-content: space-around;
}
.top a{
    background-color: rgba(255, 255, 255, 0.623);
    min-width: 40%;
    text-align: center;
    text-decoration: unset;
    border-radius: 1rem;
}
h2{

    font-size: 1rem;
    color: black;
} 
main{
    grid-area: man;
}   
footer{
    grid-area: fot;
}


/*general*/
/*desktop*/
.logo{
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(124, 245, 245, 0.658);
    border-radius: 1rem;
    margin-bottom: 0rem;
}
body{
    display: grid;
    grid-template-columns: 20vw 40vw 40vw ;
    grid-template-rows: 10vh auto 5vh;
    grid-template-areas: 
    'log nav .'
    'man man man'
    'fot fot fot';
    background-color: rgb(43, 2, 2);
    background-image:url(../img/Beanground.jpg);
}

.buttons button{
    border-color: aqua;
    max-height: 30vh;
    min-height: 30vh;
    width: 40vw;
    margin-top: 5vh;
    border-radius: 3rem;
    border-width: 1rem;
    text-align: left;
    transition: max-height 1s ease-out;
    transition: width 1s ease-in-out;
    overflow: hidden;
    
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
main{
    background-color: rgba(50, 187, 205, 0.644);
    border-radius: 1rem;
    margin-top: 10px;
    margin-left: 0px;
}
footer{
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 1rem;
    padding: 3px;
    margin: 5px;
}
/*recept*/




.buttons .focus{
    width: 80vw;
    max-height: 1000vh;
    transition: max-height 1s ease-in;
    display: grid;
    grid-template-columns: 3vw 29.5vw 5vw 32.5vw ;
    grid-template-rows: 15vh minmax(45vh auto)  3vh auto;
    grid-template-areas: 
    '. nam . how'
    '. ing . how'
    '. . . .'
    'bld bld bld bld';
    z-index: 3;
}
.ingredients{
    grid-area: ing;
    display: none;
}
.focus .ingredients{
    display: block;
}

.metod{
    grid-area: how;
    display: none;
}
.focus .metod{
    display: block;
}

.image{
    grid-area: bld;
    display: none;
    
}
#bonrora{
    background-image: url(..\img\bonrora-komprimerad.jpg);
}
.focus#bonrora .image{
    display: block;
    background-image: url(..\2Cwu22\img\bonrora-komprimerad.jpg);
}


.how{
    grid-area: how;
}


/*recept*/
/*om mig*/
#om_mig_grid{
    display: grid;
    grid-template-columns: 1fr 20vh;
    grid-template-rows: 40vh minmax(90vh auto);
    grid-template-areas: 
    'info mig'
    'frag frag';
}
#info{
    grid-area: info;
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 1rem ;
}
#fragor{
    grid-area: frag;
    display: flex;
    flex-direction: column;
}
#portratt{
    grid-area: mig;
}
#fragor article{
    width: 60vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 80px;
    border-color: rgb(211, 203, 203);
    padding: 1rem;
    border-style:outset;
    border-width: 1rem;
    margin: 1rem;
    
}
.svar{
    align-self: flex-end;
}
/*om mig*/
/*om bönor*/
#bonor_grid{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: minmax(90vh auto);
    grid-template-areas: 
    'txt bld';
}

/*om bönor*/
/*desktop*/
/*mobile*/
@media screen and (max-width:600px){
    body{
        
        grid-template-columns: 100vw ;
        grid-template-rows: 10vh 7vh auto 5vh;
        grid-template-areas: 
        'log'
        'nav'
        'man'
        'fot';
    }
    .back{
        display: none;
        width: 5vw;
        height: 5vh;
        position:fixed;
        
        z-index: -10;
    
    }
    .back.focus{
        color: aqua;
        display: block;
        z-index: 2;
    }
    
    .buttons button{
        height: 20vh;
        width: 90vw;
        margin-top: 5vh;
        border-radius: 1rem;
        border-width: 1rem;
        
    }
    .buttons{
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
    
    }
    

    /*recept*/
    .buttons .focus{
        width: 95vw;
        height: auto;

    }
    /*recept*/
    
}
/*mobile*/